/*** Bootstrap Theme ***/
.form-group input[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    cursor: not-allowed;
    opacity: 1;
}


.mostraredit{
    display: none;
}
#usuarios{

    display: none;
}
#vendedores{

    display: none;
}
#Administracion{

    display: none;
}
#contactenos{

    display: none;
}
.topespacio{
padding-top: 8px;
}
.fa-caret-down{

    float: right;

}
/*jairo */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
padding: 5px;
text-align: center;
vertical-align: middle;
}
.col-sm-3-jm{

     width: 27.7%;
     float: left;
}
#myModalvolante .modal-dialog .modal-content .panel-body .navbar-filter .col-sm-6 .form-horizontal .form-group {
margin-bottom: 5px !important;
}
.ff {
    padding-right: 7px !important;
    padding-top: 0 !important;
}
.list-group-item {
    background-color: #D0E4EF;
    }
.fa {

    margin-right: 7px;
}
.fa:hover{
    cursor: pointer;
}
.modal.modal-wide .modal-dialog {
  width: 94%;
}
.modal-message-blue .modal-dialog {
    width: 300px;
}

.btntol {
    padding: 15px 12px !important;
}
label {
    
    font-weight: bold !important;
    
}
.table > thead > tr > th {
    border-bottom: 2px solid #ddd;
    vertical-align: middle;
}
.table-responsive {
   
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}
.container {
    width: 100%;
}
.active a{

    background-color: #D0E4EF !important;
    border: 1px solid #d0e4ef !important;
    color:#2f3c65 !important;
}
.pagination > li > a, .pagination > li > span {

    border: 1px solid #d0e4ef;
    color: #2F3C65;

}
.moption{

    display: none;
}
a.list-group-item {
    color: #2f3c65;
    border: 1px solid #fff;
}
a.list-group-item:hover{
    background-color: #fff;
}
.panel-default > .panel-heading {
    color: #2f3c65;
}
.panel-default {border:1px solid #d0e4ef;}
.larg{

    width: 100%;
}
.pd{

    padding: 0px !important;
}

.text-blue{

    color:#2f3c65;
}
.btn-default {
    background-color: #F5F5F5;
    border-color: #ccc;
    color: #2f3c65;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #2f3c65;
  background-color: #D6D6D6;
  border-color: #adadad;
}
.dropdown-menu > li > a {

    color: #2f3c65;

}
.dropdown-menu > li > a:hover {

    color: #2f3c65;

}
.profile-img-card {

    width: 170px;
    margin: 0 auto 10px;

}
.text-uppercase{

text-transform: uppercase;
}
.text-left {
    text-align: left !important;
}
.modal-header {
    background-color: #D0E4EF;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 6px 6px 0 0;
    color: #2f3c65;
    min-height: 16.4286px;
    padding: 15px;
}
.close {
    color: #2f3c65;
    float: right;
    font-size: 21px;
    opacity: 1;
    font-weight: bold;
    line-height: 1;
     text-shadow: 0 0 0;
  
}
.close:hover, .close:focus {
    color: #2f3c65;
    float: right;
    font-size: 21px;
    font-weight: bold;
    opacity: 1;
     text-shadow: 0 0 0;
    line-height: 1;

}








/* Body */

body{font-size: 13px; color:#2f3c65;}

/* Form */

.btn{padding: 5px 12px;}

.form-control{font-size:12px; height: 32px; padding:5px 12px;}

hr{border-top-color:#ccc;margin:10px 0;}

/* Alert */

.alert{margin-top:20px;}

.danger{color:#f00;}

/* Link */

a{color: red;}

a:hover{color:#2f3c65;}

/* Header */

h5,h6{color:#ee7d1a;font-weight: bold;}

.page-user{margin-top:10px;}

.page-user .btn-sm{font-weight:bold;text-decoration:underline;}

.page-header{border-radius: 3px;padding: 8px 0px;margin-top:10px;

	color:#2f3c65;border-bottom: 1px solid #d0e4ef;

}

.page-header .form-search .btn-search{border-width:0 0 0 1px;}

.page-header .form-search .text-search{border:0;box-shadow: none;height: 30px;}

/* Buttons */

.btn-filter{background: #eee;}

.btn-primary{ background-color: #F5F5F5; color: #2f3c65;border-color: #ccc;
  }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{color: #2f3c65;
  background-color: #D6D6D6;
  border-color: #adadad;}

/* Lists */

.pos-rel{
	position:relative;
}
.u-module-nav{
	position:absolute;
	width:25%;
}
.u-module-nav.expanded{
	width:75px;
}
.u-module-nav.expanded .u-action-nav li a{
	padding:10px 15px;
}
.u-module-nav.expanded .u-action-nav li a.item.active .fa{
	color:#000;
}
.u-module-nav.expanded .u-action-nav li a.item:hover{
	background:#fcfcfc;
}
.u-module-panel{
	margin-left:25%;
}
.u-module-panel.expanded{
	margin-left:75px;
	width:93%;
}
.u-module-nav.expanded .u-label, .u-module-nav.expanded .u-action-nav .fa-angle-double-left{display:none;}
.u-module-nav.acenter .u-action-nav a{
	text-align:center;
}
.u-action-nav{}



.u-action-nav  .item-menu .fa{font-size: 17px;}

.u-action-nav .glyphicon,.u-action-nav .fa{color:#000;}

.u-action-nav .item-menu .glyphicon{font-size: inherit;}



.u-action-nav .active {color:#fff;background: #ef7d1a;}
.u-action-nav .active:hover{
	background: #ef7d1a;
}
.u-action-nav .active .fa{
	color:#fff;
}
.u-action-nav .active ul .fa{
	color:#000;
}
.u-action-nav  ul a, .u-action-nav  ul a:hover{
	background:#FFEAD7;
}
.u-action-nav .active ul a.active, .u-action-nav .active ul a:hover{
	background:#FFDEC0	;
	color:#000;
}



.u-action-nav .active{background: none;border-color: #eee;}

.u-action-nav .active li a,.u-action-nav .active li .item{padding-left: 25px;background: #fff5e8;}
.u-action-nav ul a{
	padding-left: 25px;
}
.u-action-nav li a:hover{background: #fcfcfc;}

.u-action-nav a,.u-action-nav .item{padding: 10px 15px;display: block;

	text-decoration: none;background: #f7f7f7;color:#000;}

.u-action-nav .list-group-item{padding: 0;}

.u-action-nav ul {margin:0;padding: 0;list-style: none;}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{background-color:#ef7d1a;border-color:#ddd;}

/* Nav */

/*.nav{margin-bottom: 10px;}*/

.nav .pagination{margin:0 0 10px 0 ;}

.navbar-inverse{background-color: #D0E4EF; color:#2f3c65; border-color: #D0E4EF;}

.navbar-inverse input::-webkit-input-placeholder { color:#ddd; }

/*Panel*/

.panel-heading{font-weight: bold;font-size: 18px;background-color: white !important;border: 0;}

.form-dates{background: #f7f1e8;padding: 10px;border-radius: 5px;}

.form-dates input.form-control{width: auto; display:inline-block; margin:0 4px 0 0;}

.form-dates .fa-calendar{font-size:16px; margin-right: 15px;}

.form-inline label{font-weight: normal;}

.form-high{padding:15px;background: #efefef;border-radius: 5px;}

.form-high .form-horizontal{font-size: 12px;}

.form-high .control-label{font-weight: normal;}

.form-horizontal .control-label{text-align: right;}

.form-high .form-control-static{color:#999;min-height: 32px;}

/*Alerts*/

.alert{background-repeat: no-repeat;background-position: 10px center;padding-left: 50px;

	background-color: #fff;}

.alert-warning {background-image: url(../images/icon-popup-03.png);}

.alert-danger {background-image: url(../images/icon-popup-02.png);}

.alert-success {background-image: url(../images/icon-popup-01.png);}

.alert-info {background-image: url(../images/icon-popup-04.png);}

.alert-warning .close {
color:#FFBB00 !important;
}
.alert-success .close{
    color:#479F00 !important;
}
.alert-danger .close{
    color:#FF0000 !important;
}
.alert-info .close{
    color:#00A3E0 !important;
}
/*Tables*/

.table{font-size: 12px;margin:10px 0;border:1px solid #ccc;}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td{background: #d0e4ef;

	color:#2f3c65;border:1px solid #ccc;text-align: center;}

.table .u-actions{width: 100px;font-size: 15px;}

.table .u-actions a{width: 60px;padding: 3px;}

.table .u-actions a:hover{text-decoration:none;}

.table-striped>tbody>tr>th{background: #9d948d;color:#fff;}

.table-striped>tbody>tr:nth-child(odd)>th{background: #847971;}

.table tbody>tr>th,  .table tbody>tr>td{border-top: 0px;}

/*************************************/

/* Custom Modules */

.dropdown-menu>li>label{display: block;

padding: 3px 20px;

clear: both;

font-weight: normal;

line-height: 1.428571429;

color: #333;

white-space: nowrap;}

.h{display: none;}

.navbar-filter{font-size:12px;padding-top:15px;}

.navbar-filter .form-control{background: #fff;color:#2F3C65;}

.navbar-filter label{font-weight: normal;}



.u-choose .panel-heading{color: #ee7d1a;}





/* Animations */

.fx {

    -webkit-transition: all 300ms linear ;

    -moz-transition: all 300ms linear ;

    -o-transition: all 300ms linear ;

    transition: all 300ms linear ;

}


.logo{
	position:relative;
	top:-2px;
}
/*submenu*/
.w-submenu ul{
	display:none;
}

.footer{
	margin:0 0 68px;
}
.footer .container{
	background: #474747;
	padding: 10px 0;
	color: #fff;
	border-radius: 4px;
}
.footer .container p{
	margin: 3px 0 0 0;
	font-size: 12px;
}
.footer .container p.pull-right{
	margin:3px 0 0 0;	
}
.footer .container p img{
	margin: 0 0 0 4px;
	position: relative;
	top: -1px;
}






/*css modal*/

.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #2f3c65;
    background-color: #fff;
    border: 5px solid #fff;
    
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center;
}

.modal-message .modal-title {
    font-size: 14px;
    color: #2f3c65;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #2f3c65;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa, 
.modal-message .modal-header 
.glyphicon, .modal-message 
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}
.modal-message.modal-success .modal-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}

.modal-message.modal-info .modal-header {
    color: #57b5e3;
    border-bottom: 3px solid #57b5e3;
}

.modal-message.modal-danger .modal-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}

.modal-message.modal-warning .modal-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}





@media (max-width: 600px) {

    .pagination > li > a, .pagination > li > span {

    padding: 5px 10px;
}
.modal-message .modal-dialog, .modal-message-blue .modal-dialog{
    width: auto !important;
}
.btn {
    display: block;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
    padding: 20px;
    text-align: left;
    width: 100%;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 20px 4px;
    text-align: center;
    vertical-align: middle;
}
.list-group-item {

    padding: 20px 15px;

}
.btn-info{

    text-align: center !important;
}
.navbar-collapse{
     max-height: inherit !important;
}
.form-control {
    font-size: 12px;
    height: 50px;
    padding: 5px 12px;
}
}
@media (max-width: 768px) {

    .navbar-collapse {max-height: inherit !important;}

}

